* {
    box-sizing: border-box;
}

.container {
    background-image: url('./img/bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#anime-btns button {
    background-color: transparent;
    width: 50%;
    height: 50%;
    padding: 0.5em 3em;
    border: 0.1em solid black;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 7px;
    box-shadow: 2px 2px 2px rgb(98, 151, 151);
}

#anime-btns button:hover {
    color: #000;
    background-color: rgb(130, 255, 255);
    text-decoration: underline;
}

.menu {
    height: 40%;
    width: 100%;
    background-image: url('./img/bg2.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#anime-details {
    color: white;
    font-family: 'Roboto', sans-serif;
    justify-content: stretch;
}

.fandom {
    color: #fff;
}

.footer {
    width: 100%;
    height: 10%;
}